* {
    padding: 0;
    margin: 0;
    border: 0;
}
  
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
  
:focus, :active {
    outline: none;
}
  
a:focus, a:active {
    outline: none;
}
  
nav, footer, header, aside {
    display: block;
}
  
html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
  
input, button, textarea {
    font-family: inherit;
}
  
input::-ms-clear {
    display: none;
}
  
button {
    cursor: pointer;
}
  
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
  
a, a:visited {
    text-decoration: none;
}
  
a:hover {
    text-decoration: none;
}
  
ul li {
    list-style: none;
}
  
img {
    vertical-align: top;
}
  
body {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
  
.wrapper {
    max-width: 1920px;
    width: 100%;
}
.header {
    width: 100%;
    display: flex;
    justify-content: center;
    &__inner {
        max-width: 1366px;
        width: 100%;
        padding: 26px 72px 0px 72px;
    }
    &__logo {
        display: flex;
        align-items: center;
    }
    &__text {
        margin-left: 5px;
        font-family: "Golos Text", sans-serif;
        font-size: 17px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 0em; 
        text-align: left;
        color: #595653;
        text-transform: uppercase;
    }
}
.main {
    background: url(../images/bg1.png) no-repeat;
    background-position: top center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__inner {
        max-width: 1366px;
        width: 100%;
        padding: 59px 72px 117px 72px;
    }
    &__content {
        max-width: 542px;
        width: 100%;
    }
    &__title {
        h1 {
            font-family: "Merriweather", sans-serif;
            font-size: 60px;
            font-weight: 400;
            line-height: 66px;
            text-align: left;
            color: #313131;
            text-transform: uppercase;
            &.center {
                text-align: center;
            }
        }
    }
    &__subtitle {
        margin-top: 24px;
        p {
            font-family: "Golos Text", sans-serif;
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            color: #313131;
            text-align: center;
        }
    }
    &__buttons {
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__btn {
        max-width: 263px;
        width: 100%;
        border-radius: 66px;
        padding: 20px 49px 20px 49px;
        font-family: "Golos Text", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: 0px;
        text-align: center;
        border: 2px solid #1F1F1F;
        &.black {
            background: #1F1F1F;
            color: #fff;
            &:hover {
                background: #FBCE51;
                color: #1F1F1F;
                border: 2px solid #FBCE51;
            }
        }
        &.white {
            background: transparent;
            color: #1F1F1F;
            &:hover {
                background: #1F1F1F;
                color: #fff;
            }
        }
    }
}
.ticker {
    display: block;
    background: #F54932;
    height: 60px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    span {
        font-family: "Merriweather", sans-serif;
        font-size: 22px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        display: inline-block;
        padding-left: 100%;
        padding-top: 17px;
        -webkit-animation: scroll 10s infinite linear;
        -moz-animation: scroll 10s infinite linear;
        animation: scroll 10s infinite linear;
    }
}
.lecture {
    width: 100%;
    display: flex;
    justify-content: center;
    &__inner {
        max-width: 1366px;
        width: 100%;
        padding: 80px 72px 0px 72px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__text {
        p {
            font-family: "Merriweather", sans-serif;
            font-size: 36px;
            font-weight: 700;
            line-height: 49px;
            letter-spacing: 0px;
            text-align: left;
            text-transform: uppercase;
            color: #313131;
            span {
                color: #F54932;
            }
        }
    }
}
.tournament {
    width: 100%;
    display: flex;
    justify-content: center;
    &__inner {
        max-width: 1366px;
        width: 100%;
        padding: 80px 72px 0px 72px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__text {
        margin-left: 20px;
    }
    &__title {
        font-family: "Merriweather", sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 49px;
        letter-spacing: 0px;
        text-align: left;
        text-transform: uppercase;
        color: #313131;
        span {
            color: #F54932;
        }
    }
    &__table {
        max-width: 704px;
        width: 100%;
        margin-top: 60px;
    }
    &__row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid #D0D0D0;
        .title {
            width: 50%;
            padding: 15px 0px 15px 15px;
            border-right: 2px solid #D0D0D0;
            font-family: "Golos Text", sans-serif;
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0px;
            text-align: left;            
        }
        .text {
            width: 50%;
            padding: 15px 0px 15px 15px;
            font-family: "Golos Text", sans-serif;
            font-size: 20px;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: 0px;
            text-align: left;
            s {
                color: #F54932;
                span {
                    color: #313131;
                }
            }
        }
        &:last-child {
            border: none;
        }
    }
    &__description {
        margin-top: 48px;
        font-family: "Golos Text", sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: left;
        color: #3057A2;
    }
}



@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -webkit-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
}
@-moz-keyframes scroll {
    0% {
        -moz-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -moz-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
}
@keyframes scroll {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0)
    }
}